@import url('https://fonts.googleapis.com/css2?family=Itim&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Itim&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Estilos Generales */
* {
    padding: auto;
    margin: auto;
    font-family: "Rubik", sans-serif;
}

/* Encabezado */
.header {
    background-color: black;
    display: flex;
    height: 95px;
}

.header h1 {
    color: white;
    font-size: 40px;
    position: relative;
    left: 185px;
}

.nav1 li {
    display: inline-flex;
}

.nav1 li a {
    color: white;
    text-decoration: none;
    margin: 5px;
    font-size: 19px;
    cursor: pointer;
}

.nav1 li a:hover {
    color: gray;
    transition: all 0.3ms;
}

/* Botón */
button {
    color: white;
    background-color: #17a2b8;
    width: 110px;
    height: 45px;
    border: none;
    position: relative;
    right: 50px;
    font-size: 20px;
}

/* Contenedor Principal */
.contennedor {
    height: 700px;
    width: 1100px;
    display: flex;
}

/* Caja Izquierda */
.cajon {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.caja-l {
    width: 500px;
    height: 300px;
    border: solid rgb(83, 83, 83);
}

.caja-l1 {
    width: 500px;
    height: 200px;
    border: solid rgb(116, 116, 116);
}

.hed {
    height: 85px;
    background-color: #17a2b8;
}

.logo img {
    width: 100px;
    height: 100px;
    margin: 25px;
    border: solid rgb(108, 96, 96) 5px;
    border-radius: 80px;
}

.titulo-1 {
    height: 130px;
    margin: 25px;
    position: relative;
    bottom: 55px;
}

.titulo-1 h1 {
    font-size: 30px;
    margin: 0px 0px 10px;
}

.titulo-1 img {
    width: 15px;
    display: inline-flex;
    justify-content: center;
}

.titulo-1 h2 {
    display: inline-flex;
    margin: 0 5px 6px;
    justify-content: center;
    font-size: 15px;
}

p {
    width: 400px;
    font-size: 23px;
    position: relative;
    right: 25px;
    bottom: 10px;
    font-family: "Exo 2", sans-serif;
}

/* Educación */
.hed-1 nav {
    background-color: #03020277;
    width: auto;
    height: 50px;
}

.hed-1 h1 {
    color: white;
    font-size: 25px;
    position: relative;
    left: 15px;
    top: 10px;
}

.hed-1 .uno h2 {
    color: rgb(36, 35, 35);
    margin: 10px 20px;
    font-size: 25px;
}

.hed-1 .uno h3 {
    color: rgb(77, 77, 77);
    margin: 10px 20px 0px;
    font-size: 15px;
}

.hed-1 .uno h4 {
    color: rgb(0, 0, 0);
    margin: 10px 20px 0px;
    font-size: 20px;
}

/* Caja Derecha */
.cajon2 {
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}

.rigth-l {
    border: solid gray;
    width: 250px;
    height: 200px;
}

.rigth-l nav {
    background-color: #7f7d7d;
    height: 60px;
    
}

.cir  h2{
    color: rgb(255, 250, 250);
    margin: 7px 10px 0px;   
}
    


.cir  {
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    display: inline-flex;
}

.cir h1 {
    color: white;
    margin: 0px 10px;
    font-size: 19px;
        
}

.user img {
    width: 40px;
    display: flex;
    margin: 10px;
}

.name {
    display: block;
    position: relative;
    bottom: 95px;
}

.name h2 {
    color: rgb(0, 0, 0);
    height: 50px;
    width: 90px;
    display: flex;
    align-items: start;
    justify-content: start;
}

/* Caja Derecha - Conexiones */
.rigth-l1 {
    border: solid gray;
    height: 300px;
    width: 250px;
}

.hed4 {
    background-color: #7f7d7d;
    height: 55px;
}

.hed4 h1 {
    background-color: black;
    color: white;
    width: 80px;
    font-size: 25px;
    border-radius: 900px;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
}

.hed4 h2 {
    color: azure;
    font-size: 17px;
    display: inline-flex;
    
}

.user-1 img {
    width: 40px;
    margin: 10px;
    display: flex;
    margin: 20px;
}

.name-1 {
    display: block;
    position: relative;
    left: 60px;
    bottom: 95px;
}

.name-1 h2 {
    color: rgb(0, 0, 0);
    font-size: 23px;
    margin: 10px;
    height: 50px;
    display: block;
    justify-content: start;
    align-items: start;
    position: relative;
    bottom: 135px;
}
